
#play-or-call-choice-div {
    margin: 0 auto;
    display: flex;
    width: min-content;
}

#play-or-call-choice-div label {
    margin: auto;
    width: max-content;
    padding-right: 20px;
}


#choose-bingo-gamemode-drpdwn {
    width: 175px;
    padding: 5px;
    height: auto;
    font-size: 24px;
    border: auto;
    border-radius: 30px;
    margin: auto;
}

#game-caller-div {
    display: none;
    margin-top: 10px;
}

#caller-left-container {
    height: min-content;
    flex: 1;
}

#caller-left-content-container {
    float: right;
    height: min-content;
    width: 600px;
    margin-right: 20px;
}

#caller-right-container {
    height: min-content;
    flex: 1;
}

#caller-right-content-container {
    float: left;
    height: min-content;
    width: 500px;
    margin-left: 20px;
}

#game-player-div {
    display: block;
    margin-top: 10px;
}

#player-instructions-div {
    margin: auto;
    width: 80%;
    display: block;
}

#instructions-paragraph {
    width: 80%;
    margin: auto;
}

#player-settings-div {
    margin: auto;
    display: flex;
}

.player-options-spacer {
    width: 20px;
}

#dropdowns-container {
    margin: auto;
    width: max-content;
}

.play-settings-dropdowns {
    font-size: 22px;
}

#new-game-button-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

/* Toggle Slider Start */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch #slider-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#slider-checkbox:checked + .slider {
    background-color: #2196F3;
}

#slider-checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#slider-checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Toggle Slider End */

.side-by-side {
    display: inline-block !important;
}

#column-select-div {
    padding: 0px 20px;
    overflow: hidden;
    background-color: #f1f1f1;
    width: max-content;
    height: max-content;
    margin: auto;
}

.select-column-div {
    width: 50px;
    display: flex;
    margin: 0 2px;
}

.select-column-label-container {
    display: flex;
    width: 100%;
}

.select-column-letters {
    font-size: 24px;
    margin: auto;
    text-align: center;

}

.select-column-checkbox {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.important-text {
    font-size: 24px;
    text-align: center;
}

.subtext {
    font-size: 16px;
    text-align: center;
}

#slider-div {
    margin: auto;
    width: max-content;
}

.bingo-buttons {
    background-color: white ;
    color: black;
    cursor: pointer;
    height: auto;
    width: auto;
    text-align: center;
    border: solid 1px;
    font-size: 20px;
    padding: 0px 15px;
    border-radius: 8px;
}

.center-bold-text {
    text-align: center;
    font-weight: bold;
}

.zero-margin-text {
    margin: 0;
}

.center-text {
    text-align: center;
}


#calling-number-div {
    height: 85px;
    width: max-content;
    margin: auto;
}

#call-number-btn-div {
    width: min-content;
    margin-top: 0px;
    margin-bottom: 100px;
    height: inherit;
}

#call-number-btn-div button {
    width: max-content !important;
}

#calling-number-display {
    border: black 4px solid;
    width: 125px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0 0 40px;
}

#calling-number-display p {
    font-size: 65px;
    font-weight: bold;
    margin: 0px;
    width: 140px;
    height: 75px;
}


#called-number-table-div {
    display: flex;
}

#table-header {
    width: 75%;
    margin: auto;
}

#table-header p {
    width: 70px;
}

#called-nums-table {
    margin: auto;
    border: black 2px solid;
}

#called-nums-table tr {
    height: 30px;
}

#called-nums-table tr th {
    font-size: 35px;
    width: 70px;
}

#called-nums-table tr td {
    font-size: 30px;
    width: 70px;
    text-align: center;
}

.cell_number_called {
    color: black !important;
    font-weight: 600 !important ;
}

.cell_number_uncalled {
    color: grey;
    font-weight: 300;
}

#play-boards-div {
    background-color: #ccc;
    margin-top: 50px;
}

.play-boards-row {
    margin: auto;
    display: block;
    height: min-content;
    width: max-content;
    margin: 5px;
    align-self: center;
    margin: auto;
}

.board-border {
    height: max-content;
    width: max-content;
    border: black 3px solid;
    padding: 15px 20px 20px 20px;
    background-color: whitesmoke; 
    margin: 20px;
}

.board-table {
    width: max-content;
    height: max-content;
}

.board-row {
    height: 50px;
}

.board-header {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    border: whitesmoke 1px solid;
    font-size: 45px;
    font-weight: 600;
}

.board-cell {
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    border: whitesmoke 1px solid;
}

.board-cell-text-sizing {
    width: max-content;
    height: min-content;
    margin: 1.5px auto;
}

.board-free-cell-text {
    font-size: 15px !important;
    margin-top: 15px !important;
}

.bingo-cell-called-highlight {
    background-color: #3380FF !important;
}




