:root {
    --accent-color : #0096FF;
}

#play-or-call-choice-div {
    margin: 0 auto;
    width: 90vw;
}

.switch-game-toggle-label {
    width: 90vw;
    text-align: center;
}

#choose-bingo-gamemode-drpdwn {
    width: 175px;
    padding: 5px;
    height: auto;
    font-size: 24px;
    border: auto;
    border-radius: 30px;
    margin: auto;
}

#bingo-caller-div {
    display: none;
    margin-top: 10px;
}

#caller-left-container {
    height: min-content;
    flex: 1;
}

#caller-left-content-container {
    float: right;
    height: min-content;
    width: 600px;
    margin-right: 20px;
}

#caller-right-container {
    height: min-content;
    flex: 1;
}

#caller-right-content-container {
    float: left;
    height: min-content;
    width: 500px;
    margin-left: 20px;
}

#bingo-player-div {
    display: block;
    margin-top: 10px;
}

#player-instructions-div {
    margin: auto;
    width: 80%;
    display: block;
}

#instructions-paragraph {
    width: 80%;
    margin: auto;
}

#player-settings-div {
    margin: auto;
    display: block;
}

.player-options-spacer {
    width: 20px;
}

#dropdowns-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: max-content;
}

.rec-options-containers {
    padding: 10px;
}

.play-settings-dropdowns {
    font-size: 22px;
}

#new-game-button-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

#column-select-div {
    padding: 0px 20px;
    overflow: hidden;
    background-color: #f1f1f1;
    width: max-content;
    height: max-content;
    margin: auto;
}

.select-column-div {
    width: 50px;
    display: flex;
    margin: 0 2px;
}

.select-column-label-container {
    display: flex;
    width: 100%;
}

.select-column-letters {
    font-size: 24px;
    margin: auto;
    text-align: center;

}

.select-column-checkbox {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.select-column-checkbox:checked {
    color: #C41E3A;
    background-color: #C41E3A;
}

.important-text {
    font-size: 24px;
    text-align: center;
}

.subtext {
    font-size: 16px;
    text-align: center;
}

#slider-div {
    margin: auto;
    width: max-content;
}

.center-bold-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px !important;
}

.zero-margin-text {
    margin: 0;
}

.center-text {
    text-align: center;
}


#calling-number-div {
    height: 85px;
    width: max-content;
    margin: auto;
}

#call-number-btn-div {
    width: min-content;
    margin-top: 0px;
    margin-bottom: 100px;
    height: inherit;
}

#call-number-btn-div button {
    width: max-content !important;
}

#calling-number-display {
    border: black 4px solid;
    width: 140px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 40px;
}

#calling-number-display p {
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
    width: max-content;
    height: min-content;
}


#called-number-table-div {
    display: flex;
}

#table-header {
    width: 75%;
    margin: auto;
}

#table-header p {
    width: 70px;
}

#called-nums-table {
    margin: auto;
    border: black 2px solid;
}

#called-nums-table tr {
    height: 30px;
}

#called-nums-table tr th {
    font-size: 35px;
    width: 70px;
}

#called-nums-table tr td {
    font-size: 30px;
    width: 70px;
    text-align: center;
}

.cell_number_called {
    color: black !important;
    font-weight: 600 !important ;
}

.cell_number_uncalled {
    color: grey;
    font-weight: 300;
}

#call-nums-and-boards {
    margin-top: 50px;
}

.play-boards-row {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: min-content;
    width: max-content;
    margin: 5px;
    align-self: center;
    margin: auto;
}

.board-border {
    height: max-content;
    width: max-content;
    border: black 3px solid;
    padding: 15px 20px 15px 20px;
    background-color: whitesmoke; 
    margin: 20px;
}

.board-table {
    width: max-content;
    height: max-content;
}

.board-row {
    height: 50px;
}

.board-header {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    border: whitesmoke 1px solid;
    font-size: 45px;
    font-weight: 600;
}

.board-cell {
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    border: whitesmoke 1px solid !important;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.board-cell-text-sizing {
    width: max-content;
    height: min-content;
    margin: 1.5px auto;
}

.board-free-cell-text {
    font-size: 15px !important;
    margin-top: 15px !important;
}

.board_id_label {
    margin: 0;
    margin-top: 10px !important;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.bingo-cell-called-highlight {
    background-color: #3380FF !important;
}

.bingo-cell-called-transparent-highlight {
    background-color: transparent !important; 
}

.font-weight-900 {
    font-weight: 900 !important;
}

#numbers-table-container {
    width: 800px;
}

#selectable-number-table {
    margin: 0px;
}

#selectable-number-table .horizontal-table-header-cell {
    width: 40px;
    height: 30px;
    text-align: center;
    font-weight: 700;
}

#selectable-number-table .horizontal-table-cell {
    width: 40px;
    height: 30px;
    text-align: center;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 10px;
    background-color: whitesmoke;
}

#create-custom-winning-pattern-div {
    margin: auto;
    width: 300px;
    max-height: 0px;
    margin-top: 10px;
    overflow-y: hidden;
    transition: max-height 0.2s;
    background-color: whitesmoke;

}

#recording-nums-wp-display {
    display: none; /* will be displayed when new game is clicked*/
    margin: auto;
    width: max-content;
}


#custom-pattern-prompt {
    font-size: 16px;
    margin: auto;
    text-align: center;
}

#custom-pattern-table {
    margin: auto;
}

#custom-pattern-table td {
    border: black 1px solid;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#custom-pattern-free-space {
    font-size: 10px !important;
    text-align: center !important; 
    font-weight: 525 !important; 
}

.custom-board-cell-highlight {
    background-color: #3380FF !important;
}

.font-size-17 {
    font-size: 17px;
    margin: 0px;
}

#curr-game-label {
    width: max-content;
    text-align: center;
    display: none;
    margin: auto;
    font-weight: 900;
}

.bingo-table-captions {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#gameplay-nums-table-wp-display {
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: auto;
    background-color: white;
    overflow: hidden;
}

#bingo-alert-popup-display {
    z-index: 3;
    display: none;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 90vw;
    
}

#bingo-alert-background {
    position: relative;
    border-radius: 25px;
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 15px !important;
    background-color: #3380FF;
    opacity: 0.99;
    
}

#bingo-alert-header {
    font-size: 60px;
    padding-top: 20px;
    margin: 0px;
    text-align: center;
}

.alert-new-text {
    font-size: 25px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.popup-text-container {
    width: max-content;
    margin: auto;
}

.alert-old-text {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

#bingo-alerts-buttons-container {
    width: max-content;
    margin: auto;
}

.bingo-alert-button {
    
}

#bingo-play-control-box {
    display: none;
    position: relative;
    width: 100%;
    height: min-content;
}

#winning-pattern-display-container {
    width: 250px;
    padding-top: 0px;
}


#custom_wp_display {
    display: none;
    height: 250px;
    width: 250px;
    margin: none;
    padding: none;
}

#display-wp-table {
    margin: auto;
}

#display-wp-table td {
    border: black 1px solid;
    width: 25px;
    height: 25px;
}

#classic-win-par {
    display: none;
    text-align: center;
    margin-top: none;
    padding-top: none;
}

.blur-elements {
    filter: none;
}

#spacer-25px {
    width: 25px;
}


@media only screen and (max-width: 650px) {

    #dropdowns-container {
        flex-direction: column;
    }

    .rec-options-containers {
        margin: auto;
    }
    
    .play-boards-row {
        flex-direction: column;
    }

    #gameplay-nums-table-wp-display {
        flex-direction: column;
    }

    #winning-pattern-display-container {
        margin: auto;
    }

    #numbers-table-container {
        overflow: scroll;
        width: 95vw;
    }

    .horizontal-table-cell {
        font-size: 6vw;
    }

  }