
/* General Styles */

body {
    font-size: 25px;
}


/* Home Page */
#home-header {
    text-align: center;
}

#home-header > h1, h2 {
    font-size: 100px;
}

#home-header > p {
    font-size: 20px;
}

#hz-choice-buttons-div {
    display: block;
    justify-content: center;
    text-align: center;
}

#hz-choice-buttons-div > p {

}


#hz-choice-buttons-div > button {
    justify-content: center;
    height: 35px;
    width: max-content;
    font-size: 25px;
}



.tooltip-div {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid blue;
}
  
.tooltip-div .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip-div .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip-div:hover .tooltiptext {
    visibility: visible;
}


