
/* General Styles */

body {
    font-size: 25px;
}


/* Home Page */
#home-header {
    text-align: center;
}

#home-header > h1, h2 {
    font-size: 100px;
}

#home-header > p {
    font-size: 20px;
}

#hz-choice-buttons-div {
    display: block;
    justify-content: center;
    text-align: center;
}

#hz-choice-buttons-div > p {

}


#hz-choice-buttons-div > button {
    justify-content: center;
    height: 35px;
    width: max-content;
    font-size: 25px;
}

#play-solve-options-div {
    margin-top: 20px;
    margin: auto;
    background-color: blue;
    height: 200px;
    width: 700px;
}


