
/* Game Board */
.boxes {
    width: 190px !important; 
    height: 190px !important;
}
  
.cells {
    border:2px solid black;
    width: 60px !important; 
    height: 60px !important;
    text-align: center;
    font-size: 35px;
}

#sudoku-board-div {
    display: flex;
    justify-content: center;
}
  
#sudoku-board {
    align-self: center;
}

#play-solve-options-div {
    margin-top: 20px;
    margin: auto;
    background-color: blue;
    height: 200px;
    width: 700px;
}