
/* Sudoku Board Start */
.board-ninths {
    width: 200px !important; 
    height: 200px !important;
}
  
.board-cells {
    border: 2px solid black;
    width: 65px !important; 
    height: 65px !important;
    text-align: center;
    font-size: 35px;
    border-radius: 5px;
}

#sudoku-board-div {
    display: flex;
    justify-content: center;
}
  
#sudoku-board {
    align-self: center;
}
/* Sudoku Board End */

#play-solve-options-div {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: max-content;
}

#sudoku-toggle-gamemode-div {
    width: 550px;
    margin: auto;
}

#sudoku-options-spacer {
    width: 50px;
}

#sudoku-options-div {
    text-align: center;
    margin-bottom: 0px;
}

.radio-label {
    font-size: 25px;
    margin: 10px;
}

#game-type-header {
    text-align: center;
    margin: 5px;
    font-weight: 700;
    font-size: 30px;
    height: min-content;
}

#sudoku-control-bar {
    margin: 20px auto 10px;
    padding: 10px;
}

#choose-sudoku-gamemode-drpdwn {
    width: 260px;
    height: auto;
    font-size: 24px;
    border: none;
}

#gamemode-select-div {
    background-color: none;
    height: 75px;
    margin: 0;
}

#play-settings-div {
    display: none;
    background-color: lightsteelblue;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}

#play-settings-div > div{
    vertical-align: top;
    padding: 10px;
}

#play-settings-left {
    height: min-content;
    overflow: hidden;
}

.sudoku-control-header {
    font-weight: 800;
    margin-bottom: 10px;
}

.align-radio-left {
    margin-top: 0px;
    width: max-content;
    
}

.align-check-right {
    width: max-content;
    margin-right: 0px;
    margin-left: auto;
}

#play-settings-right {

}

#spacer-40px {
    width: 40px;
}

#play-controls-div {
    display: none;
}

#solve-settings-div {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    border-radius: 20px;
    width: 40%;
    padding: 20px;
    margin: auto;

}

#solve-settings-div > div {
    width: 100%;
    padding: 5px;

}

#solve-instruction {
    font-size: 15px;
    margin-bottom: 5px;
}


#solve-checkbox-container {
    width: max-content;
    margin: auto;
    margin-bottom: 25px;
    font-size: 20px;
}

#solve-controls-div {

}

.subcell-array-table {
    z-index: 3;
    margin: 0;
}

.subcell-array-number {
    font-size: 14px;
    width: 14px;
    height: 14px;
}

@media only screen and (max-width: 650px) {

    #play-settings-div {
        width: 90%;
    }

    #solve-settings-div {
        width: 90%;
    }

    .board-ninths {
        width: 30vw !important; 
        height: 30vw !important;
    }

    .board-cells {
        border: 2px solid black;
        width: 10vw !important; 
        height: 10vw !important;
        text-align: center;
        font-size: 5vw;
        border-radius: 5px;
    }

    #solve-settings-div {
        flex-direction: column;
    
    }
    
    #solve-settings-div > div {
        width: 70%;
        margin: auto;
    
    }

}